.content {
    width: 100%;
    margin: auto;
    text-align: center;
}

hr {
    border-bottom: solid gray 2px;
}

h4 {
    margin: 10px;
}

#displayTable {
    width: 100%;
    margin: auto;
}

#display {
    width: 425px;
    margin: auto;
    text-align: center;
}

#option {
    width: 425px;
    margin-bottom: 10px;
}

#data {
    width: 425px;
}

@media only screen and (min-width: 450px) {
    .content {
        max-width: 600px;
        margin: auto;
    }

    table {
        width: 600px;
        margin: auto;
    }
}

@media only screen and (max-width: 450px) {

    .content {
        font-size: 12px;
    }

    table {
        width: 85%;
        font-size: 14.5px;
    }

    h2 {
        margin-top: 10px;
        font-size: 24px;
    }

    #data {
        width: 300px;
        margin: 0;
    }

    #option {
        width: 300px;
    }

    h4 {
        font-size: 18px;
    }

    .alert {
        display: none;
    }

    #display {
        width: 300px;
        display: block;
    }

    #noSubmissionWarning,
    #weightedWarning {
        display: block;
        font-size: 10.5px;
        padding: 8px;
    }

    .weighted {
        background-color: #d1ecf1;
    }

    .noSub {
        background-color: #f8d7da;
    }
}
